

/* General body styling */
body {
    background-color: black;
    font-family: 'Montserrat Alternates', sans-serif;
}

/* Heading 5 styling */
h5 {
    color: white;
    font-size: 18px;
    font-weight: 700;
    font-family: sans-serif;
    margin-top: 50px;
    margin-left: 20px;
}

/* Paragraph styling */
p {
    color: white;
    margin-left: 20px;
    font-size: 14px;
}

/* Third styling */
.third {
    margin-top: 80px;
    margin-left: 20px;
}

/* Heading 3 styling */
h3 {
    color: red;
}

/* User box styling */
.user-box {
    width: 50%;
}
.form-bg{
    background: #242a4a;
    padding: 15px;
    margin-top: 15px !important;
    border-radius: 20px;
}

.form-bg input{
    color: #dddddd;
    background-color: transparent;
}
.form-bg input::placeholder{
    color: #dddddd;
    user-select: none;
}
.form-btn{
    background-color: #6b3b00;
    color: #914f00;
    border: none;
    padding: 15px;
}
.form-btn:hover{
    background-color: darkgoldenrod;
}
.place-bg{
    padding: 10px;
    padding-left: 20px;
}
.disabeled-bg{
    background-color: transparent !important;
    color: blue;
}
.group{
    margin-bottom: -10px;
    margin-left: 10px;
}

/* Accordion container styling */
.active{
    background-color: transparent !important;
    color: orange !important;
    font-size: 18px;
    font-weight: 500;
}
.dice img{
    margin: 30px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 50%;  
}

.container-box { 
    border-radius: 10px;
}

/* //password change work */
#mission .form-bg{
    margin-left: 50px;
    margin-top: 50px !important;
   
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem 1.25rem;
        width: 400px !important;
        gap: 2rem;
        transition: all .2s ease;
        background: #242a4a;
        border-radius: .625rem;
    
}



.pass-change-h3{
    font-size: 1.25rem;
    color: #ffff;
    font-weight: 700;
}

#mission .form-bg .form-label{
    color: var(--fidt-color-neutral-100);
    font-weight: 600;
    font-size: 1rem;
    line-height: 1.5;
}
#mission .form-bg input {
    width: 100%;
    height: 100%;
    border: 1px solid #dddd;
    outline: none;
    font-size: 1rem;
    line-height: 1.5;
    padding: 0 16px;
    border-radius: 10px;
    color: #dddddd;
    background-color: transparent;
    font-family: Inter;
}

.form-btn-update{
    display: inline-flex;
    gap: 8px;
    align-items: center;
    justify-content: center;
    padding: 16px 32px !important;
    border-radius: 10px;
    background-color: #b54242;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    transition: all .2s ease-in-out;
    font-weight: 600;
    outline: 1px solid transparent;
    font-family: Montserrat;
    border: none;
    margin-bottom: 20px;
}
.form-btn-update:hover{
    background-color:#c63434 ;
}


.form-bg-2{
    width: 350px !important;
}

.room .form-btn-update{
 
        color: #ffffff;
        background-color: #ff8c00;
        outline-color: transparent;
    
}

.room .room-label{
  
        color: #f1f1f1;
        font-family: Inter;
        font-size: 1rem;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
    
}

.mini-p{
    font-size: 12px;
    margin-left: -1px;
}
.email-field{
    background-color: #6b6b6b !important;
    outline: #dc7100;
    border: 1px solid #6b6b6b;
    padding: 10px;
    padding-left: 20px;
  
    
}